__pycache__/
*.py[cod]

# Virtual envs
env/
venv/

# IDE
.idea/
.vscode/

# Large runtime artefacts
models/**
!models/.gitkeep
data/*.xlsx
.dvc/
.dvc/cache/

# OS cruft
.DS_Store
Thumbs.db

logs/
*.log

mlops-runner-key.json
